// text shine effect 
.shine{
    background: linear-gradient(to right, #c2c2c2 0, #ffffff 10%, #c2c2c2 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;
}
  
    
@keyframes shine {
    0%{
        background-position: 0;
    }
    
    50%{
        background-position: 50px;
    }
    
    100%{
        background-position: 100px;
    }
    
}
  
// growUp
#system1{
    animation: grow_up1 1.1s ease;
    &:hover{
        transform: scale(1.02);
    }
}
#system2{
    animation: grow_up2 1.3s ease;
    &:hover{
        transform: scale(1.02);
    }
}
#system3{ 
    animation: grow_up3 1.5s ease;
    &:hover{
        transform: scale(1.02);
    }
}
@keyframes grow_up1 {
    0%{
        height: 0px;
        opacity: 0;
    }
    100%{
        height: 150px;
        opacity: 1;
    }
}
@keyframes grow_up2 {
    0%{
        height: 0px;
        opacity: 0;
    }
    100%{
        height: 200px;
        opacity: 1;
    }
}
@keyframes grow_up3 {
    0%{
        height: 0px;
        opacity: 0;
    }
    100%{
        height: 250px;
        opacity: 1;
    }
}