.header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 70px;
    backdrop-filter: blur(20px);
    z-index: 1000;
    .container{
        @include flex(row, space-between, center);
        .header__logo{
            font-family: UbuntuBold;
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: -1.5%;
            text-align: left;
            color: var(--text-dark);
            &:hover{
                filter: grayscale(70%);
            }
            b{
                color: var(--primary-color);
            }
        }
        .header__nav{
            ul{
                @include flex(row, space-between, center);
                gap: 35px;
                li{
                    a{
                        font-family: UbuntuMedium;
                        color: var(--text-dark);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: -1.5%;
                    }
                }
            }
        }
        .header__actions{
            @include flex(row, space-between, center);
            gap: 15px;
            .actions__button{
                @include center;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                background: var(--light-blug);
                color: var(--text-blug-dark);
                font-family: UbuntuMedium;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -1.5%;
                outline: none;
                border: none;
                cursor: pointer;
                &:last-child{
                    display: none;
                }
            }
            
        }
    }
    &.open{
        padding: 20px;
        height: 480px;
        #navMenu{
            visibility: visible;
            opacity: 1;
            padding-top: 50px;
        }
    }
}

#navMenu{
    width: 100%;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    ul{
        width: 100%;
        @include flex(column, space-between, center);
        gap: 20px;
        li{
            width: 100%;
            a{
                @include center;
                width: 100%;
                height: 50px;
                background-color: var(--light-blug);
                font-family: UbuntuBold;
                color: var(--text-dark);
                font-size: 22px;
                border-radius: 15px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        max-width: 370px;
    }
    .header{
        transition: 0.2s ease-in-out;
        .container{
            .header__nav{
                display: none;
            }
            .header__actions{
                gap: 10px;
                .actions__button{
                    &:last-child{
                        display: flex;
                    }
                }
            }
        }
    }
    #navMenu{
        visibility: hidden;
        ul{
            @include flex(column, space-between, center);
        }
    }
}